<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.colorcc.user.register.mapper.UserGroupMapper">
	<select id="selectOne" parameterType="int" resultType="registerUserGroup">
	 	<![CDATA[
	 		SELECT ID, GROUP_NAME, DESCRIPTION
  		 	  FROM USER_GROUP
	 	]]>
	</select>
	
	<insert id="insertOne" parameterType="registerUserGroup" useGeneratedKeys="true" keyProperty="id">
		<![CDATA[
			INSERT INTO USER_GROUP (GROUP_NAME, DESCRIPTION)
			VALUES (#{groupName}, #{description})
		]]>
	</insert>

	 <update id="updateOne" parameterType="registerUserGroup">
		<![CDATA[
			UPDATE USER_GROUP
			SET GROUP_NAME=#{groupName}, DESCRIPTION=#{description}
			WHERE id = #{id}
		]]>
	</update>

	<delete id="deleteOne" parameterType="int">
		<![CDATA[
			DELETE FROM USER_GROUP WHERE id = #{id}
		]]>
	</delete>
	
	<select id="findUserGroupByName" parameterType="String" resultType="registerUserGroup">
		<![CDATA[
	 		SELECT ID, GROUP_NAME as groupName, DESCRIPTION
  		 	  FROM USER_GROUP
  			 WHERE GROUP_NAME = #{groupName}
	 	]]>
	</select>
	
	<delete id="deleteUserGroups" parameterType="java.util.HashMap">
			DELETE FROM USER_GROUP 
			<where>
				<if test="startId == null and endId == null">
					<![CDATA[
						AND ID > 0
					]]>
				</if>
				<if test="startId != null">
					<![CDATA[
						AND ID >= #{starId}
					]]>
				</if>
				<if test="endId != null">
					<![CDATA[
						AND ID <= #{endId}
					]]>
				</if>
			</where>
	</delete>
	
</mapper>